<?xml version="1.0" encoding="UTF-8"?>
<package version="2.0" packagerversion="1.7.2" xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
	<!-- $Id$ -->
	<name>sThread</name>
	<channel>pear.oops.org</channel>
	<summary>Single Thread Connector</summary>
	<description>Use multiple connection with single thread process</description>
	<lead>
		<name>JoungKyun.Kim</name>
		<user>joungkyun</user>
		<email>joungkyun@gmail.com</email>
		<active>yes</active>
	</lead>
	<date>@curdate@</date>
	<time>@curtime@</time>
	<version>
		<release>1.0.1</release>
		<api>1.0.0</api>
	</version>
	<stability>
		<release>stable</release>
		<api>stable</api>
	</stability>
	<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
	<notes>* fixed worng access to empty property when clear session
* rewrite chunked data logic on http module
* fixed wrong rdata parsing on dns module
* fixed wrong parsing SOA rdata
* Support AAAA record
* return binary data that decodes hex data when check fail.
* add Vari::$result for return execute result
* add phpDocument style comments
</notes>
	<contents>
		<dir name="/">
			<file role="php" md5sum="@sThread/Modules/dns.php@" name="sThread/Modules/dns.php" />
			<file role="php" md5sum="@sThread/Modules/echo.php@" name="sThread/Modules/echo.php" />
			<file role="php" md5sum="@sThread/Modules/ftp.php@" name="sThread/Modules/ftp.php" />
			<file role="php" md5sum="@sThread/Modules/http.php@" name="sThread/Modules/http.php" />
			<file role="php" md5sum="@sThread/Modules/memcached.php@" name="sThread/Modules/memcached.php" />
			<file role="php" md5sum="@sThread/Modules/mysql.php@" name="sThread/Modules/mysql.php" />
			<file role="php" md5sum="@sThread/Modules/sock.php@" name="sThread/Modules/sock.php" />
			<file role="php" md5sum="@sThread/Addr.php@" name="sThread/Addr.php" />
			<file role="php" md5sum="@sThread/Log.php@" name="sThread/Log.php" />
			<file role="php" md5sum="@sThread/Module.php@" name="sThread/Module.php" />
			<file role="php" md5sum="@sThread/Vari.php@" name="sThread/Vari.php" />
			<file role="php" md5sum="@sThread.php@" name="sThread.php" />
		</dir>
	</contents>
	<dependencies>
		<required>
			<php>
				<min>5.0.0</min>
			</php>
			<pearinstaller>
				<min>1.4.3</min>
			</pearinstaller>
			<package>
				<name>libevent</name>
				<channel>pecl</channel>
				<min>0.0.2</min>
			</package>
			<package>
				<name>ePrint</name>
				<channel>pear.oops.org</channel>
				<min>1.0.1</min>
			</package>
		</required>
	</dependencies>
	<phprelease />
	<changelog>
		<release>
			<version>
				<release>1.0.1</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>@curdate@</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>* fixed worng access to empty property when clear session
* rewrite chunked data logic on http module
* fixed wrong rdata parsing on dns module
* fixed wrong parsing SOA rdata
* Support AAAA record
* return binary data that decodes hex data when check fail.
* add Vari::$result for return execute result
* add phpDocument style comments
</notes>
		</release>
		<release>
			<version>
				<release>1.0.0</release>
				<api>1.0.0</api>
			</version>
			<stability>
				<release>stable</release>
				<api>stable</api>
			</stability>
			<date>2012-10-14</date>
			<license uri="http://www.opensource.org/licenses/bsd-license.php">BSD</license>
			<notes>* regist
</notes>
		</release>
	</changelog>
</package>
